#footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 50px;
    
}

#smallLogo{
    width: 50px;
}

#bottomNav{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    width: 45rem;
}
