.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    padding: 50px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contact-card-logo {
    height: 65%;
    width: 40%;
}

.about-description {
    padding: 50px;
}