.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    padding: 50px;
}

.about-title {
    display: flex;
    justify-self: flex-start;
}

.about-description {
    padding: 50px;
}