:root {
  --primary-color: #73AACA;
  --second-color: #85C4E9;
  --third-color: #235c7e;
}

*{
  box-sizing: border-box;
  color: #000;
}

.app {
  display: flex;
  flex-direction: row;
}

.mainAppContainer {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: var(--third-color);
}
/* Carousel */
/* .carousel{
  display: flex;
  margin: 0 auto;
  height: 55vh;
  min-height: 30vh;
  min-width: 45vh;
} */

/* input {
  background-color: white;
  border: 1px grey solid;
  border-radius: 5px;
  margin-left: 10px;
} */

.tagline{
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: -10px;
}

/* HOME STYLING */
.home-container{
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-div{
  margin-top:20px;
}

.book{
  height: 150px;
  width: 170px;
  left: 2px;
  top: 2px;
  border-radius: 0px;
}

.how-works{
  color:white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}

.how-desc{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 44px; */
  letter-spacing: 0px;
  text-align: left;
  color:white;
  text-align: center;
}


.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

