.credit-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
}

.page-title {
    justify-self: center;
}

.credit-list-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.ind-credit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f2faff;
    height: 15vh;
    width: 75vw;
    margin: 15px 0;
    border-radius: 10px;
}

.date {
    font-size: 15px;
}

.credit-search-credit-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 7vw;
    margin-left: 60px;
}

.credit-profile-icon {
    display: flex;
    align-self:center;
    margin: 10px;
    height: 75px;
    border-radius: 50px;
}

.credit-search-studio {
    font-size: 15px;
    text-align: center;
    align-self: center;
}

.credit-search-prompt {
    font-size: 16px;
    font-weight: 500;
    width: 45vw;
    margin-right: 60px;
}

.credit-search-prompt-description {
    font-size: 12px;
    width: 45vw;
}

#credit-searchbar {
    margin: 10px;
    width: 60vw;
    border-radius: 15px;
    border: 1px grey solid; 
}