.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;;
    margin-top: 60px;
}

.hsc-logo-landing{
    justify-content: center;
    align-items: center;
    height: 40%;
    
  }

.tagline {
    color: #b1cedf;
    font-size: 30px;
}