:root {
    --primary-nav-color: #73AACA;
    --secondary-nav-color: #85C4E9;
  }
  

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-nav-color);
    color: white;
    
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100vh;
    width: 200px;
    padding: 0;
}

.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.nav-li:hover {
    background: var(--secondary-nav-color);
}

#logout:hover {
    background: var(--secondary-nav-color);
    color: red;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);

}


.hsc-logo-landing {
    margin-top: 20px;
    height: 170px;
    width: 200px;
}