.signup-header {
    width: 100%;
    height: 9.5vh;
    margin-top: 5vh;
    flex-direction: row;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
}

.left {
    margin-left: 7vw;
}

.comp-name {
    position: absolute;
    margin-top: 2.2vh;
    margin-left: 7vw;
}

.page-title {
    width: 35.9vw;
    height: 5.8vh;
    font-weight: 700;
    font-size: 2em;
    line-height: 5.8vh;
    text-align: right;
    margin-top: 2vh;
    margin-left: 55vw;
}