.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

p {
    margin: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: white;
    border: 1px grey solid;
    border-radius: 5px;
    margin-left: 10px;
}

.form-group-button {
    background-color: #f2faff;
    border: 1px #85C4E9 solid;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 60px;
    align-self: center;
}