.student-signup-container {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: Montserrat;
    font-weight: 600;
    padding: 0;
    line-height: 4vh;
}

.student-form-control {
    border-radius: .3em;
    border-width: 0ch;
    box-shadow: 0em 0.1em 0.3em rgb(0 0 0 / 0.2);
    margin: 0;
}

.row-group{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.inline-student {
    display: flex;
    flex-direction: column;
    margin-right: 3.5vw;
}

input {
    text-align: left;
    padding-left: 0.5em;
}

.name-input {
    width: 28vw;
}

.mi-input {
    width: 3.6vw;
}

.ceeb-input {
    width: 18.9vw;
}

.school-name-input {
    width: 31.5vw;
}

textarea.bio-input {
    background-color: #fff;
    width: 66vw;
    height: 15vh;
    margin: 0;
}

.check-icon {
    margin-left: 1vw;
}

.ceeb {
    text-align: left;
}

.ceeb-code {
    font-size: 0.9em;
    text-align: right;
    color: #85C4E9;
    margin-left: 7vw;
}

.submit {
    align-self: flex-start;
    background-color: #805DBE;
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-size: 0.9em;
    font-weight: 700;
    height: 7vh;
    margin: 0.8em 0 0 1em;
    width: 30vw;
}