* {
    color: black;
    font-family: "Montserrat";
}
/* footer */
.footer-text-link {
    cursor: pointer;
    text-decoration: none;
}

.footer-text-link:hover {
    color: #805DBE;
}

/* modal */
.ReactModal__Content--after-open {
    height: 100vh;
    overflow-y: scroll !important;
}

.detailModal {
    background-color: #F5F4FB;
    padding: 1em 3em 3em;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: 85vw;
}

.modal-container {
    font-size: 0.8em;
    position: relative;
}

.modal-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
}

.header-logo {
    display: inline-block;
    height: 10vh;
    line-height: 0;
}

.header-text {
    font-size: 1.5em;
    font-weight: 600;
}

.main-title {
    border: none;
    font-weight: 600;
    text-align: center;
}

.main-paragraph {
    text-align: justify;
    margin: 1em 0;
}

.main-subtitle {
    font-weight: 600;
}

.main-ordered-list {
    padding: 0 0 0 1em;
}