@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  @apply leading-[normal];
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgba(128, 93, 190, 0.07);
  height: 100%;
  @apply text-[#333333];
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 37.5rem;
	height: 95dvh;
	@apply max-w-none;
}

main {
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 37.5rem;
	height: 95dvh;
}

.main {
	flex: 1;
	background-color: #ffffff;
	border-radius: 20px;
	margin: 0 50px;
}

h1 {
  @apply font-bold text-[2rem];
}

h2 {
  @apply text-[1.25rem];
}

p {
  @apply text-[0.875rem];
}

.btn {
  @apply block rounded-[1.35rem] bg-[#805DBE] text-white font-bold;
}

p a {
  @apply underline;
}

p.details a {
  @apply italic font-bold text-[#85C4E9];
}

tr {
	@apply h-10;
}

