.modal-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 40vw;;
}

.modal-body {
    font-size: 25px;
    font-weight: 600;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
}