@import '@fontsource/montserrat';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05); /* Light gray background for the track */
    border-radius: 10px; /* Round the corners of the track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #805dbe; /* Purple color for the thumb */
    border-radius: 10px; /* Round the corners of the thumb */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6c49a3; /* Darker purple when hovered */
  }

  /* Custom Scrollbar Styles for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* Make the scrollbar thinner */
    scrollbar-color: #805dbe rgba(0, 0, 0, 0.05); /* Custom thumb and track color */
  }
}
