@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* 
{
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F4FA;
}

body {
  margin: 0;
  -webkit-font-smoothing: Montserrat;
  -moz-osx-font-smoothing: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
